/* Ensure html and body occupy full viewport and have no padding/margin */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents the extra scrollbar */
}

/* Common styles for both large and small screens */
.main-page {
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100%; /* Change to 100% */
  overflow: hidden; /* Prevents the extra scrollbar */
}

.main-part {
  display: flex;
  flex: 1; 
  flex-direction: row;
  overflow-y: auto; /* Enables scrolling if content overflows */
}

.profile-part {
  width: 25%;
  margin-right: 10px;
}

.listOfProjects {
  width: 75%;
  position: relative;
  right: 0;
  overflow-y: auto; /* Ensures the inner list scrolls */
}

/* Loading Screen */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-direction: column;
}

/* Loader Animation */
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

/* Spin Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .main-part {
    flex-direction: column;
  }

  .profile-part, .listOfProjects {
    width: 100%; 
    margin-right: 0; 
  }
}
