/* ToDoListComponentsStyle.css */
.toDoList-create-new-project {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.todo-list-createproject-title {
  color: #fff;
}

.todo-list-create-project-enter-task-input {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

.add-button-create-new-project {
  color: #fff;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: #2196f3;
  margin-right: 10px;
}

.add-button-create-new-project:hover {
  background-color: #0b6ab7;
}

.todo-list-create-project-unordered-list {
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
}

.todo-list-create-project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
}

.text-create-new-project-task-title {
  color: #fff;
  margin-left: 10px;
}

.text-create-new-project-task-delete-button,
.text-create-new-project-task-move-button {
  color: #fff;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  background-color: #2196f3;
  margin-right: 10px;
}

.text-create-new-project-task-delete-button:hover,
.text-create-new-project-task-move-button:hover {
  background-color: #0b6ab7;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .todo-list-create-project-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .text-create-new-project-task-title {
      margin-bottom: 10px;
  }
  .button-for-tasks-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  .text-create-new-project-task-delete-button,
  .text-create-new-project-task-move-button {
      margin-top: 5px;
  }
  .add-button-create-new-project {
    height: 50px;
    width: 65px;
  }

}
